
html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color:#0f66c363;
}

form {
    margin: auto;
    background: white;
    max-width: 1000px;
    margin-top: 20px;
    border-radius: 6px;
    box-sizing: border-box;
}

h2 {
    color: #064080;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

.intro {
    text-align: justify;
    margin-bottom: 40px;
}

input, textarea {
    font-size: 16px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #064080;
    outline: none;
    padding: 15px;
}

textarea {
    min-height: 195px;
    max-height: 195px;
    max-width: 100%;
}

#boton {
    background: #064080;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    width: 100%;
    padding: 15px;
}

.botones {
    align-items: center;
    justify-content: center;
    height: 35px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background-color: #064080;
    cursor: pointer;
}

.botones:hover {
    background-color: #032850;
    color: #fff;
}

.card-header{
    background-color: #064080;
    color: #fff
}

.aAlquileres{
    text-decoration: none;
}

#mapa {
    width: 100%;
}

#map {
    height: 300px; /* Altura del mapa */
    width: 100%;   /* Ancho del mapa */
}

/* Estilos formularios */

    body {
        min-height: 100vh;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;   
    }
    .nuestro-container {
        background-color: white;
        position: relative;
        max-width: 900px;
        width: 100%;
        border-radius: 6px;
        padding: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    }

    .container-listados {
        position: relative;
        width: 100%;
        border-radius: 6px;
        padding: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .container-home {
        position: relative;
        width: 100%;
        border-radius: 6px;
        padding: 30px;
        padding-left: 300px;
        padding-right: 300px;
    }
    
    .container header {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color: black;
    }
    .container form{
        padding: 30px;
        position: relative;
        margin-top: 16px;
        background-color: #fff;
    }
    .container form .datos {
        margin-top: 30px;
    }
    .container form .title {
        display: block;
        margin-bottom: 8px;
        font-size: 16px;
        font-weight: 500;
        color: black;
    }
    .container form .fields {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    form .fields .input-field{
        display: flex;
        width: calc(100% / 3 - 15px);
        flex-direction: column;
        margin: 4px 0;
    }
    .input-field label {
        font-size: 12px;
        font-weight: 500;
    }
    .input-field input {
        outline: none;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        border: 1px solid #aaa;
        padding: 0 15px;
        height: 42px;
        margin: 8px 0;
    }
    .input-field select {
        outline: none;
        font-size: 14px;
        font-weight: 400;
        border-radius: 5px;
        border: 1px solid #aaa;
        padding: 0 15px;
        height: 42px;
        margin: 8px 0;
    }
    .container form button {
        align-items: center;
        justify-content: center;
        height: 35px;
        border: none;
        outline: none;
        color:#fff;
        border-radius: 5px;
        background-color: #064080;
        cursor: pointer;
    }

    .bg-nav {
        background-color: #064080;
    }

    .aceptarAfiliado {
        padding: 0% !important;
        margin: 0% !important;
        align-items: end !important;
    }

    .rechazarAfiliado {
        align-items: end !important;
        height: 35px;
    }

/* Mapa de salones */
#map {
    height: 300px; /* Altura del mapa */
    width: 100%;   /* Ancho del mapa */
}


/* Estilos para los botones de paginación de DataTables */
.dataTables_wrapper .dataTables_paginate {
    text-align: center;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5rem 1rem;
    margin: 0 0.25rem;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #e1e1e1;
    color: #333;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.current,
  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
  }
  
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    background-color: #f1f1f1;
    color: #aaa;
    cursor: not-allowed;
  }

  .form-check-input.small-checkbox {
      width: 0.8em;
      height: 0.8em;
      margin-top: 0.25em;
  }