{% extends 'main.html' %}
{% load static %}

{% block extracss %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="{% static 'estilos/calendario.css' %}" rel="stylesheet">
{% endblock %}
{% block container %}

<form method="POST" action="">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <h2>Datos Alquiler</h2>
                    <div class="mb-4">
                        <h6><b>Nombre del salon: </b>{{ form.initial.salon }}</h6>
                        <h6><b>Seña requerida (10% del monto del salon): </b>{{ form.initial.senia }}</h6>
                    </div>
                    <div class="row mb-3">
                        <div class="col-6">
                            <label for="id_dni">DNI</label>
                            {{ form.dni }}
                        </div>
                        
                        <div class="col-6">
                            <label for="id_afiliado">Afiliado</label>
                            <input type="text" id="id_afiliado_nombre" class="form-control" readonly>
                            <input type="hidden" id="id_afiliado" name="afiliado_id">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Servicios:</label>
                        {% for servicio in servicios %}
                            <div class="form-check d-flex align-items-center">
                                <input class="form-check-input small-checkbox me-2" type="checkbox" name="servicios" value="{{ servicio.id }}" 
                                    {% if servicio.obligatorio %} checked disabled {% endif %}>
                                <label class="form-check-label">{{ servicio.nombre }} ({{ servicio.precio }} $)</label>
                            </div>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <input type="hidden" id="id_inicio" name="inicio">
                <input type="hidden" id="id_salon" value="{{ form.initial.salon.id }}">
                <div id="calendar-container" class="h-100">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <button type="submit" class="btn botones">Guardar</button>
            </div>
        </div>
    </div>
</form>

{% endblock %}

{% block extrajs %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<script>

    document.getElementById('id_dni').addEventListener('blur', function () {
        let dni = this.value;

        if (dni) {
            fetch('/salones/buscar_afiliado/?dni=' + dni)
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    if (data.afiliado_id) {
                        document.getElementById('id_afiliado').value = data.afiliado_id;
                        document.getElementById('id_afiliado_nombre').value = data.nombre_afiliado;
                    } else {
                        document.getElementById('id_afiliado_nombre').value = '';
                        alert("No se encontró ningún afiliado con ese DNI.");
                    }
                })
                .catch(error => {
                    console.error('Error al buscar el afiliado:', error);
                })
        }
    });


</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');

        var salonId = document.getElementById('id_salon').value;
        console.log('entro al script y la id es: ',salonId)
        var today = new Date();
        today.setHours(0, 0, 0, 0);
        var selectedDate = null;
        var previousDayEl = null;

        
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            locale: 'es',
            height: 400,
            validRange: {
                start: today
            },
            events: function(fetchInfo, successCallback, failureCallback) {
                
                fetch('/salones/obtener_dias_ocupados/'+ salonId +'/')
                .then(response => response.json())
                .then(data => {
                    const eventos = data.ocupados.map(item => ({
                        title: 'Ocupado',
                        start: item.fecha,
                        allDay: true,
                        backgroundColor: 'purple',
                        borderColor: 'purple',
                        extendedProps: {
                            alquileresEnEspera: item.alquileres_en_espera // Agregar los alquileres en espera como una propiedad extendida
                        } 

                    }));
                    console.log("Eventos para FullCalendar:", eventos);
                    successCallback(eventos);
                })
                .catch(error => {
                    console.error('Error al obtener los días ocupados:', error);
                    failureCallback(error);
                });
            },
            eventContent: function(arg) {
                var eventText = document.createElement('div');
                eventText.innerHTML = arg.event.title;

                // Crear un elemento para mostrar la cantidad de alquileres en espera
                var esperaText = document.createElement('div');
                esperaText.innerHTML = `Espera: ${arg.event.extendedProps.alquileresEnEspera}`;
                esperaText.style.fontSize = '12px';
                esperaText.style.color = 'white'; // Cambiar el color del texto según
                
                eventText.appendChild(esperaText);
                eventText.style.fontSize = '12px';

                return { domNodes: [eventText] };
            },
            dateClick: function(info) {
                if (previousDayEl) {
                    previousDayEl.style.backgroundColor = '';
                }

                
                selectedDate = info.dateStr;
                previousDayEl = info.dayEl;
                info.dayEl.style.backgroundColor = 'lightblue';

                document.getElementById('id_inicio').value = selectedDate; 
            }
        });
    
        calendar.render();
    });
</script>
{% endblock %}