{% extends 'main.html' %}
{% load static %}
{% block container %}

<h2 class="text-center">Registrar alquiler</h2>

<form method="POST" action="">
    {% csrf_token %}
    <fieldset>
        <legend>Datos alquiler</legend>
        <div class="mb-4">
            <h6>Nombre del salon: {{ form.initial.salon }}</h6>
        </div>
        <div class="container-fluid row">
            <div class="col-auto">
                <label for="id-afiliado">Afiliado</label>
                <select id="id-afiliado" name="afiliado" class="form-control required">
                    {% for afiliado in form.afiliado.field.queryset %}
                    <option value="{{ afiliado.pk }}" {% if afiliado.pk == form.afiliado.value %}selected{% endif %}>
                        {{ afiliado }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-auto">
                <label for="id_inicio">Fecha Inicio</label>
                <input type="date" id="id_inicio" name="inicio" value="{{ form.inicio.value }}"
                    class="form-control required">
            </div>

            <div class="col-auto">
                <label for="id-senia">Seña</label>
                <input type="number" id="id-senia" name="senia" value="{{ form.senia.value }}"
                    class="form-control required">
            </div>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock %}