{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block container %}
<div class="container">
  <form action="#">
    <div class="form first">
      <header class="text-center"> Datos Alquiler </header>
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6 col-lg-5 py-3">
          <div class="card" style="width: 100%;">
            <div class="card-header bg-primary text-white">
              Detalles del Alquiler
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <b>Número de alquiler:</b> {{ alquiler.pk }}
              </li>
              <li class="list-group-item">
                <b>Fecha de reserva:</b> {{ alquiler.reserva }}
              </li>
              <li class="list-group-item">
                <b>Fecha inicio:</b> {{ alquiler.inicio }}
              </li>
              <li class="list-group-item">
                <b>Monto:</b> ${{ alquiler.monto }}
              </li>
              <li class="list-group-item">
                <b>Estado:</b>{% if object.estado_alquiler == "Concluido" %}
                                  <span class="text-success">Concluido</span>
                              {% elif object.estado_alquiler == "Pagado" %}
                                  <span class="text-success">Pagado</span>
                                  {% elif object.estado_alquiler == "Pendiente" %}
                                  <span class="text-warning">Pendiente</span>
                              {% else %}
                                  <span class="text-warning">Cancelado</span>
                              {% endif %}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-5 py-3">
          <div class="card" style="width: 100%;">
            <div class="card-header bg-success text-white">
              Información del Afiliado y Salón
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <b>Afiliado:</b> <a href="{% url 'detallarAfiliado' alquiler.afiliado.pk %}">{{ alquiler.afiliado }}</a>
              </li>
              <li class="list-group-item">
                <b>Salón:</b> <a href="{% url 'detallarSalon' alquiler.salon.pk %}">{{ alquiler.salon }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="gap-2 d-md-flex justify-content-md-end" style="height: 40px;">
        {% if alquiler.pago_senia %}
          {% if alquiler.tiene_cuotas %}
            <a href="{% url 'listar_cuotas' alquiler.id %}" class="btn btn-primary">Pagar</a>
          {% else %}
            <button type="button" class="btn btn-primary" style="height: 40px; width: 80px; margin-top: -0px;"
            data-bs-toggle="modal" data-bs-target="#crearCuotasModal">Pagar</button>
          {% endif %}
        {% else %}
          <!-- Mostrar un botón deshabilitado si no se ha pagado la seña -->
          <button type="button" class="btn btn-secondary" style="height: 40px; width: 80px; margin-top: -0px;"disabled>Pagar</button>
        {% endif %}
        <a href="#" class="btn btn-success">Editar</a>
        <a href="{% url 'lista_espera' alquiler.salon.pk alquiler.inicio %}" class="btn btn-secondary">
          En Espera
        </a>
        <a href="{% url 'eliminarAlquiler' alquiler.pk %}" class="btn btn-danger">Eliminar</a>
      </div>

    </div>
    {% if alquiler.pago_senia %}
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comprobanteModal">
          Comprobante Seña
      </button>
    {% else %}
      <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmarPagoModal">Pagar Seña</a>
    {% endif %}
</div>
</form>
</div>

<div class="modal fade" id="confirmarPagoModal" tabindex="-1" aria-labelledby="confirmarPagoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="confirmarPagoModalLabel">Confirmar Pago de Seña</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              ¿Está seguro que desea pagar la seña?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <form action="{% url 'pagar_senia' alquiler.pk %}" method="post" style="display: inline;">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary">Pagar Seña</button>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="comprobanteModal" tabindex="-1" aria-labelledby="comprobanteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="comprobanteModalLabel">Comprobante de seña</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="comprobanteContent">
        <div class="card-body">
          <p><strong>Afiliado:</strong> {{ alquiler.afiliado }}</p>
          <p><strong>Salón:</strong> {{ alquiler.salon.nombre }}</p>
          <p><strong>Fecha de Inicio:</strong> {{ alquiler.inicio }}</p>
          <p><strong>Seña:</strong> {{ alquiler.senia }}</p>
          <p><strong>Fecha de Pago de seña:</strong> {{ alquiler.pago_senia }}</p>
          <p><strong>Monto Total:</strong> {{ alquiler.monto }}</p>
          <p><strong>Fecha de Reserva:</strong> {{ alquiler.reserva }}</p>
        </div>
      </div>
      <input type="hidden" id="id_alquiler" value="{{ alquiler.pk }}">
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="downloadButton">Descargar</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("downloadButton").addEventListener("click", function () {
      var element = document.getElementById('comprobanteContent');
      html2pdf()
        .from(element)
        .set({
          margin: 1,
          filename: 'comprobante.pdf',
          html2canvas: { scale: 2 },
          jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
        })
        .save();
    });
  });
</script>


<!-- Modal para seleccionar la cantidad de cuotas -->
<div class="modal fade" id="crearCuotasModal" tabindex="-1" role="dialog" aria-labelledby="crearCuotasModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="crearCuotasModalLabel">Selecciona la cantidad de cuotas</h5>
      </div>
      <div class="modal-body">
        <form id="crearCuotasForm" method="POST" action="{% url 'crear_cuotas' alquiler.id %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="cuotas">Cuotas:</label>
            <select class="form-control" id="cuotas" name="cuotas">
              <option value="1">1 Cuota</option>
              <option value="3">3 Cuotas</option>
              <option value="6">6 Cuotas</option>
            </select>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="confirmarCrearCuotas">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('confirmarCrearCuotas').addEventListener('click', function () {

    var form = document.getElementById('crearCuotasForm');

    form.submit(); // Esto enviará el formulario al backend
  });
</script>

{% endblock %}