{% extends 'main.html' %}
{% load static %}

{% block container %}
<div class="table-responsive card shadow p-3">
    <h3>Lista de espera</h3>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th scope="col">Afiliado</th>
                <th scope="col">Fecha de reserva</th>
            </tr>
        </thead>
        <tbody>
            {% for alquiler in object_list %}
            <tr class="bg-transition">
                <td>{{ alquiler.afiliado }}</td>
                <td>{{ alquiler.reserva }}</td>
                <td>
                    <form action="{% url 'reemplazar_alquiler' alquiler.id %}" method="post">
                        {% csrf_token %}
                        {% if alquiler_actual %}
                        <input type="hidden" name="alquiler_actual_id" value="{{ alquiler_actual.id }}">
                        <button type="submit" class="btn btn-danger" style="height: 40px; width: 80px; margin-top: -0px;">Reemplazar</button>
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No hay afiliados en la lista de espera</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'detallarAlquiler' pk=alquiler_actual.id %}" class="btn btn-primary">Regresar</a>
</div>
{% endblock %}