{% extends 'main.html' %}
{% block container %}
<form method="POST">
    {% csrf_token %}
    <h3>Realizar Pago Único</h3>
    
    <div class="card text-center">
        <div class="card-body">
            <h4 class="card-title">Detalle</h4>
            <p><strong>Afiliado:</strong> {{ alquiler.afiliado }}</p>
            <p><strong>Salón:</strong> {{ alquiler.salon.nombre }}</p>
            <p><strong>Fecha de Inicio:</strong> {{ alquiler.inicio }}</p>
            <p><strong>Monto Total:</strong> {{ alquiler.monto }}</p>
            <p><strong>Fecha de Reserva:</strong> {{ alquiler.reserva }}</p>
            <label>Cantidad de cuotas</label>
            <input type="number" name="num_cuotas" required>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Pagar</button>
</form>
{% endblock %}