{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block container %}
<div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12">  
    <div class="container-listados my-3"> 
              <div class="table-responsive card shadow p-3"> 
                <h3>Listado de Salones</h3>
                  <table class="table table-striped table-responsive">
                      <thead>
                          <tr>
                            <th scope="col">nombre</th>
                            <th scope="col">direccion</th>
                            <th scope="col">capacidad</th>
                            <th scope="col">monto</th>
                            <th scope="col">encargado</th>  
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for salon in object_list %}
                          <tr class="bg-transition">
                            <td>{{ salon.nombre }}</td>
                            <td>{{ salon.direccion }}</td>
                            <td>{{ salon.capacidad }}</td>
                            <td>{{ salon.monto }}</td>
                            <td>{{ salon.encargado }}</td>
                            <td><a href="{% url 'detallarSalon' salon.pk %}" class="btn btn-success"> Ver </a></td>             
                            <td><a href="{% url 'eliminararSalon' salon.pk %}" class="btn btn-danger"> Eliminar </a></td>                                           
                          </tr>
                          {% endfor %}  
                      </tbody>
                  </table>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}