asgiref==3.5.2
#backports.zoneinfo==0.2.1
#backports.zoneinfo==0.2.1;python_version<"3.9"
Django==4.1.1
sqlparse==0.4.3
#asgiref==3.5.2
backports.zoneinfo==0.2.1;python_version<"3.9"
#Django==4.1.1
django-extensions==3.2.1
#psycopg2-binary==2.9.3
pydotplus==2.0.2
pyparsing==3.0.9
#sqlparse==0.4.3
django-crispy-forms==1.14.0
crispy-bootstrap5==0.7
django-select2==8.0.0
ipython==8.6.0
python-dateutil
