{% extends 'list.html' %} 
{% block ttitle %}Listado de Afiliaciones Pendientes{% endblock %}
{% block thead %}
<tr>
  <th scope="col">numero</th>
  <th scope="col">nombre</th>
  <th scope="col">apellido</th>
  <th scope="col">cuil</th>
  <th scope="col">telefono</th>
</tr>
{% endblock %} {% block tbody %} {% for afiliado in object_list %}
<tr class="bg-transition">
  <td>{{ afiliado.id }}</td>
  <td>{{ afiliado.persona.nombre }}</td>
  <td>{{ afiliado.persona.apellido }}</td>
  <td>{{ afiliado.cuil }}</td>
  <td>{{ afiliado.persona.telefono }}</td>
  <td>
    <a href="{% url 'detallarSolicitud' afiliado.pk %}" class="btn btn-success">
      Ver
    </a>
  </td>
</tr>
{% endfor %} {% endblock %}