{% extends 'list.html' %}
{% block ttitle %}Listado de Afiliaciones Pendientes{% endblock %}
{% block head %}
  <!-- Include DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
{% endblock %}
{% block thead %}
<thead>
  <tr>
    <th scope="col">numero</th>
    <th scope="col">nombre</th>
    <th scope="col">apellido</th>
    <th scope="col">cuil</th>
    <th scope="col">telefono</th>
  </tr>
</thead>
{% endblock %}
{% block tbody %}
<tbody class="dataTable"> <!-- Aquí se aplica la clase dataTable -->
  {% for afiliado in object_list %}
  <tr class="bg-transition">
    <td>{{ afiliado.id }}</td>
    <td>{{ afiliado.persona.nombre }}</td>
    <td>{{ afiliado.persona.apellido }}</td>
    <td>{{ afiliado.cuil }}</td>
    <td>{{ afiliado.persona.telefono }}</td>
    <td>
      <a href="{% url 'detallarSolicitud' afiliado.pk %}" class="btn botones">
        Ver
      </a>
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
{% block scripts %}
  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- Include DataTables JS -->
  <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
{% endblock %}
