{% extends 'list.html' %}
{% load static %}
{% block ttitle %}Listado de Afiliaciones Pendientes{% endblock %}

{% block thead %}
<thead>
  <tr>
    <th scope="col">nombre</th>
    <th scope="col">apellido</th>
    <th scope="col">dni</th>
    <th scope="col">cuil</th>
    <th scope="col">nacimiento</th>
    <th scope="col">nacionalidad</th>
    <th scope="col">estadoCivil</th>
    <th scope="col">domicilio</th>
    <th scope="col">telefono</th>
    <th scope="col">accion</th>
  </tr>
</thead>
{% endblock %}
{% block tbody %}
<tbody>
  {% for afiliado in object_list %}
  <tr class="bg-transition">
    <td>{{ afiliado.persona.nombre }}</td>
    <td>{{ afiliado.persona.apellido }}</td>
    <td>{{ afiliado.persona.dni }}</td>
    <td>{{ afiliado.cuil }}</td>
    <td>{{ afiliado.persona.nacimiento }}</td>
    <td>{{ afiliado.persona.nacionalidad }}</td>
    <td>{{ afiliado.persona.estadoCivil }}</td>
    <td>{{ afiliado.persona.domicilio }}</td>
    <td>{{ afiliado.persona.telefono }}</td>
    <td>
      <a href="{% url 'detallarSolicitud' afiliado.pk %}" class="btn botones">
        Ver
      </a>
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}


