<form id="inscripcion-form"method="post">
    {% csrf_token %}
    <input type="hidden" id="hidden-action" name="action" value="search">
              <h2><center>Inscripcion a {{clase.dictado.actividad.nombre}}</center></h2>
              <hr/>
              <!-- Fila principal para las dos tarjetas -->
    <div class="row justify-content-center">
      
      <!-- Tarjeta Datos del Alumno -->
      <div class="col-sm-12 col-md-6 col-lg-5 py-3">
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Detalles del Alumno
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>DNI:</b> {{ alumno.persona.dni }}
            </li>
            <li class="list-group-item">
              <b>Nombre:</b> {{ alumno.persona.nombre }}
            </li>
            <li class="list-group-item">
              <b>Apellido:</b> {{ alumno.persona.apellido }}
            </li>
          </ul>
        </div>
      </div>

      <!-- Tarjeta Detalles de la Actividad y Pago -->
      <div class="col-sm-12 col-md-6 col-lg-5 py-3">
        <div class="card" style="width: 100%;">
          <div class="card-header">
            Información de la Actividad
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <b>Actividad:</b> {{ clase.dictado.actividad.nombre }}
            </li>
            <li class="list-group-item">
              <b>Pago:</b> ${{ pago }}
            </li>
          </ul>
        </div>
      </div>

    </div>
      {{ form.clase }}
      {{ form.alumno }}
      <input
        type="submit"
        name="submit"
        value="Confirmar"
        class="btn btn-primary button white"
        id="submit-id-submit"
      />
  </form>
  
  <script>
    let claseId = "{{ clase.id }}";
    $('#id_clase').val(claseId);
    let alumnoId = "{{ alumno.id }}";
    $('#id_alumno').val(alumnoId);
    $('#inscripcion-form').on('submit', function(e) {
                  e.preventDefault(); // Prevenir el envío normal del formulario
                  $.ajax({
                      url: "{% url 'crearInscripcionClase' %}", // Cambia esto por tu URL para verificar el DNI
                      type: "POST",
                      data: $(this).serialize(),
                      success: function(response) {
                        window.location.href = response.redirect_url;
                      },
                      error: function() {
                          alert("Error al verificar el DNI.");
                      }
                  });
          });
  </script>