{% extends 'main.html' %} 
{% load static %} 
{% block container %}
<div class="container my-5">
  <div class="row">
    <!-- Tarjeta 1 -->
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <img src="{% static 'img/perfil.png' %}" class="card-img-top" alt="Imagen 1">
        <div class="card-body">
          <h5 class="card-title text-center"> Gestión de Afiliados </h5>
          <div class="d-flex justify-content-center gap-2">
            <a href="{% url 'crearAfiliado' %}" class="btn btn-primary" style="background-color: rgb(5, 134, 5)"> Agregar afiliado </a>
            <a href="{% url 'listarAfiliados' %}" class="btn btn-primary" style="background-color: rgb(5, 134, 5)"> Listado de afiliados </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <img src="{% static 'img/curso.png' %}" class="card-img-top" alt="Imagen 2">
        <div class="card-body">
          <h5 class="card-title text-center"> Gestión de Cursos </h5>
          <div class="d-flex justify-content-center gap-2">
            <a href="{% url 'crearCurso' %}" class="btn btn-primary" style="background-color: rgb(5, 134, 5)"> Agregar curso </a>
            <a href="{% url 'listarCursos' %}" class="btn btn-primary" style="background-color: rgb(5, 134, 5)"> Listado de cursos </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <img src="{% static 'img/salon.png' %}" class="card-img-top" alt="Imagen 3">
        <div class="card-body">
          <h5 class="card-title text-center"> Gestión de Alquileres </h5>
          <div class="d-flex justify-content-center gap-2">
            <a href="{% url 'crearAlquiler' %}" class="btn btn-primary" style="background-color: rgb(5, 134, 5)"> Agregar alquilér </a>
            <a href="{% url 'listarAlquileres' %}" class="btn btn-primary" style="background-color: rgb(5, 134, 5)"> Listado de alquileres </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

