{% extends 'base.html' %}
{% load static %}
{% block itemNavbar %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Afiliados
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'crearAfiliado' %}">Agregar afiliado</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAfiliados' %}">Listado de afiliados</a></li>
    <li><a class="dropdown-item" href="{% url 'pendientes' %}">Listado de Pendientes</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Alumnos
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarAlumno' %}">Agregar alumno</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAlumnos' %}">Listado de alumnos</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Cursos
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarCurso' %}">Agregar curso</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoCursos' %}">Listado de cursos</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Profesores
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarProfesor' %}">Agregar profesor</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoProfesores' %}">Listado de profesores</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Salones
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'crearSalon' %}">Agregar salón</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoSalones' %}">Listado de salones</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Alquileres
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarAlquiler' %}">Agregar alquiler</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAlquileres' %}">Listado de alquileres</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
{% endblock %}
{% block container %}
<div style="background-color:#0f66c3">
  <div class="container">
    <header> Registrar Alumno </header>
    <form action="#">
        <div class="form first">
            <div class="datos personales">
                <span class="title"> Datos Personales </span>

                <div class="fields">
                    <div class="input-field" style="display: flex; flex-direction: colum ">
                        <label> DNI Alumno </label>
                        <input type="text" placeholder="Ingrese el dni" required>
                    </div>

                    <div class="input-field">
                      <label> Nombre completo </label>
                      <input type="text" placeholder="Ingrese el nombre" required>
                    </div>

                    <div class="input-field">
                        <label> Apellido completo </label>
                        <input type="text" placeholder="Ingrese el apellido" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Fecha de nacimiento </label>
                      <input type="date" placeholder="Ingrese fecha de nacimiento" required>
                    </div>

                    <div class="input-field">
                      <label> Dirección </label>
                      <input type="text" placeholder="Ingrese dirección" required>
                    </div>

                    <div class="input-field">
                        <label> Curso al que desea inscribirse </label>
                        <select> 
                          <option value="disable selected"></option>
                          <option value="#">  </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="datos personales">
              <span class="title"> Responsable a cargo </span>

              <div class="fields">
                  <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> DNI Alumno </label>
                      <input type="text" placeholder="Ingrese el dni" required>
                  </div>

                  <div class="input-field">
                    <label> Nombre completo </label>
                    <input type="text" placeholder="Ingrese el nombre" required>
                  </div>

                  <div class="input-field">
                      <label> Apellido completo </label>
                      <input type="text" placeholder="Ingrese el apellido" required>
                  </div>

                  <div class="input-field">
                    <label> Tipo de Responsable </label>
                    <select> 
                      <option value="disable selected"></option>
                      <option value="#">  </option>
                    </select>
                </div>
              </div>
          </div>
          <button>
            <span> Crear </span>
          </button>
        </div>
    </form>
  </div>       
</div>
{% endblock %}