{% extends 'main.html' %}
{% load static %}

{% block container %}
<div style="background-color:#0f66c3">
  <div class="container">
    <header> Agregar Profesor </header>
    <form action="#">
        <div class="form first">
            <div class="datos curso">
                <span class="title"> Datos de profesor </span>

                <div class="fields">
                    <div class="input-field" style="display: flex; flex-direction: colum ">
                        <label> DNI </label>
                        <input type="text" placeholder="Ingrese número de documento" required>
                    </div>

                    <div class="input-field">
                      <label> Nombre </label>
                      <input type="text" placeholder="Ingrese nombre" required>
                    </div>

                    <div class="input-field">
                        <label> Apellido </label>
                        <input type="text" placeholder="Ingrese apellido" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Domicilio </label>
                      <input type="text" placeholder="Ingrese domicilio" required>
                    </div>

                    <div class="input-field">
                      <label> Teléfono </label>
                      <input type="text" placeholder="Ingrese número de teléfono" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Especialización </label>
                      <input type="text" placeholder="Ingrese especialización" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Años de experiencia </label>
                      <input type="number" placeholder="Ingrese años de experiencia" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> CBU </label>
                      <input type="text" placeholder="Ingrese CBU" required>
                    </div>
                </div>
            </div>
            <button>
              <span> Crear </span>
            </button>
        </div>
    </form>
  </div>        
</div>
{% endblock %}