{% extends 'main.html' %}
{% load static %}

{% block container %}
<div style="background-color:#0f66c3">
  <div class="container">
    <header> Registrar Alumno </header>
    <form action="#">
        <div class="form first">
            <div class="datos personales">
                <span class="title"> Datos Personales </span>

                <div class="fields">
                    <div class="input-field" style="display: flex; flex-direction: colum ">
                        <label> DNI Alumno </label>
                        <input type="text" placeholder="Ingrese el dni" required>
                    </div>

                    <div class="input-field">
                      <label> Nombre completo </label>
                      <input type="text" placeholder="Ingrese el nombre" required>
                    </div>

                    <div class="input-field">
                        <label> Apellido completo </label>
                        <input type="text" placeholder="Ingrese el apellido" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Fecha de nacimiento </label>
                      <input type="date" placeholder="Ingrese fecha de nacimiento" required>
                    </div>

                    <div class="input-field">
                      <label> Dirección </label>
                      <input type="text" placeholder="Ingrese dirección" required>
                    </div>

                    <div class="input-field">
                        <label> Curso al que desea inscribirse </label>
                        <select> 
                          <option value="disable selected"></option>
                          <option value="#">  </option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="datos personales">
              <span class="title"> Responsable a cargo </span>

              <div class="fields">
                  <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> DNI Alumno </label>
                      <input type="text" placeholder="Ingrese el dni" required>
                  </div>

                  <div class="input-field">
                    <label> Nombre completo </label>
                    <input type="text" placeholder="Ingrese el nombre" required>
                  </div>

                  <div class="input-field">
                      <label> Apellido completo </label>
                      <input type="text" placeholder="Ingrese el apellido" required>
                  </div>

                  <div class="input-field">
                    <label> Tipo de Responsable </label>
                    <select> 
                      <option value="disable selected"></option>
                      <option value="#">  </option>
                    </select>
                </div>
              </div>
          </div>
          <button>
            <span> Crear </span>
          </button>
        </div>
    </form>
  </div>       
</div>
{% endblock %}