{% extends 'base.html' %}
{% load static %}
{% block itemNavbar %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Afiliados
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarAfiliado' %}">Agregar afiliado</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAfiliados' %}">Listado de afiliados</a></li>
    <li><a class="dropdown-item" href="{% url 'pendientes' %}">Listado de Pendientes</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Alumnos
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarAlumno' %}">Agregar alumno</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAlumnos' %}">Listado de alumnos</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Cursos
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarCurso' %}">Agregar curso</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoCursos' %}">Listado de cursos</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Profesores
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarProfesor' %}">Agregar profesor</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoProfesores' %}">Listado de profesores</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Salones
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarSalon' %}">Agregar salón</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoSalones' %}">Listado de salones</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Alquileres
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarAlquiler' %}">Agregar alquiler</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAlquileres' %}">Listado de alquileres</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
{% endblock %}
{% block container %}
<div style="background-color:#0f66c3">
  <div class="container">
    <header> Agregar Alquiler </header>
    <form action="#">
        <div class="form first">
            <div class="datos curso">
                <span class="title"> Datos de alquiler </span>

                <div class="fields">
                    <div class="input-field">
                      <label> Número de alquiler </label>
                      <input type="numer" placeholder="Ingrese número de alquiler" required>
                    </div>

                    <div class="input-field">
                        <label> Fecha de reserva </label>
                        <input type="date" placeholder="Ingrese fecha de reserva" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Fecha inicio </label>
                      <input type="date" placeholder="Ingrese fecha inicio" required>
                    </div>

                    <div class="input-field">
                      <label> Monto </label>
                      <input type="number" placeholder="Ingrese monto" required>
                    </div>

                    <div class="input-field">
                        <label> Afiliado </label>
                        <select> 
                            <option value="disable selected"></option>
                            <option value="#">  </option>
                          </select>
                    </div>

                    <div class="input-field">
                        <label> Salón </label>
                        <select> 
                            <option value="disable selected"></option>
                            <option value="#">  </option>
                          </select>
                    </div>

                    <div class="input-field">
                        <label> Seña </label>
                        <input type="number" placeholder="Ingrese seña" required>
                    </div>
                </div>
            </div>
            <button>
              <span> Crear </span>
            </button>
        </div>
    </form>
  </div>       
</div>
{% endblock %}