{% extends 'main.html' %}
{% load static %}

{% block container %}
<div style="background-color:#0f66c3">
  <div class="container">
    <header> Agregar Curso </header>
    <form action="#">
        <div class="form first">
            <div class="datos curso">
                <span class="title"> Datos de curso </span>

                <div class="fields">
                    <div class="input-field" style="display: flex; flex-direction: colum ">
                        <label> Nombre curso </label>
                        <input type="text" placeholder="Ingrese el nombre" required>
                    </div>

                    <div class="input-field">
                      <label> Fecha Inicio </label>
                      <input type="date" placeholder="Ingrese fecha de inicio" required>
                    </div>

                    <div class="input-field">
                        <label> Fecha Fin </label>
                        <input type="date" placeholder="Ingrese fecha de fin" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Cupo de curso </label>
                      <input type="number" placeholder="Ingrese cupo del curso" required>
                    </div>

                    <div class="input-field">
                      <label> Descuento </label>
                      <input type="number" placeholder="Ingrese descuento" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Precio </label>
                      <input type="number" placeholder="Ingrese el precio" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Pago </label>
                      <input type="number" placeholder="Ingrese el pago" required>
                    </div>
                </div>
            </div>
            <button>
              <span> Crear </span>
            </button>
        </div>
    </form>
  </div>       
</div>
{% endblock %}