{% extends 'main.html' %}
{% load static %}

{% block container %}
<div style="background-color:#0f66c3">
  <div class="container">
    <header> Agregar Alquiler </header>
    <form action="#">
        <div class="form first">
            <div class="datos curso">
                <span class="title"> Datos de alquiler </span>

                <div class="fields">
                    <div class="input-field">
                      <label> Número de alquiler </label>
                      <input type="numer" placeholder="Ingrese número de alquiler" required>
                    </div>

                    <div class="input-field">
                        <label> Fecha de reserva </label>
                        <input type="date" placeholder="Ingrese fecha de reserva" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Fecha inicio </label>
                      <input type="date" placeholder="Ingrese fecha inicio" required>
                    </div>

                    <div class="input-field">
                      <label> Monto </label>
                      <input type="number" placeholder="Ingrese monto" required>
                    </div>

                    <div class="input-field">
                        <label> Afiliado </label>
                        <select> 
                            <option value="disable selected"></option>
                            <option value="#">  </option>
                          </select>
                    </div>

                    <div class="input-field">
                        <label> Salón </label>
                        <select> 
                            <option value="disable selected"></option>
                            <option value="#">  </option>
                          </select>
                    </div>

                    <div class="input-field">
                        <label> Seña </label>
                        <input type="number" placeholder="Ingrese seña" required>
                    </div>
                </div>
            </div>
            <button>
              <span> Crear </span>
            </button>
        </div>
    </form>
  </div>       
</div>
{% endblock %}