{% extends 'main.html' %}
{% load static %}

{% block container %}
<div style="background-color:#0f66c3">
  <div class="container">
    <header> Agregar Salón </header>
    <form action="#">
        <div class="form first">
            <div class="datos curso">
                <span class="title"> Datos de salón </span>

                <div class="fields">
                    <div class="input-field">
                      <label> Nombre Salón </label>
                      <input type="text" placeholder="Ingrese nombre de salón" required>
                    </div>

                    <div class="input-field">
                        <label> Dirección </label>
                        <input type="text" placeholder="Ingrese dirección" required>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Capacidad </label>
                      <input type="number" placeholder="Ingrese capacidad del salón" required>
                    </div>

                    <div class="input-field">
                      <label> Monto </label>
                      <input type="number" placeholder="Ingrese monto" required>
                    </div>
                </div>
            </div>
            <button>
              <span> Crear </span>
            </button>
        </div>
    </form>
  </div>        
</div>
{% endblock %}