{% load static %}

<!DOCTYPE html>
<html>

<head>
    <link href="{% static 'libs/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
</head>

<body>
    {% block title %}
    {% endblock %}
    <nav role="sidebar">
        {% block sidebar %}
        {% endblock %}
    </nav>
    <main class="container">
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    <script src="{% static 'libs/bootstrap/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="https://bootswatch.com/5/superhero/bootstrap.min.css">
</body>

</html>