{% extends 'base.html' %}
{% load static %}
{% block itemNavbar %}
<li class="nav-item">
  <a class="nav-link text-white" aria-current="page" href="{% url 'login' %}"> Iniciar Sesión </a>
</li>
<li class="nav-item">
  <a class="nav-link text-white" href="{% url 'contacto' %}">Contacto</a>
</li>
{% endblock %}
{% block container %}
<div>
    <div class="container">
        <form>
            <h2> Contáctese con nosotros </h2>
            <p class="intro"> Si desea recibir mas información, puede comunicarse con nosotros a traves de nuestro teléfono o correo, o bien, dirigirse a la sede.</p>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <input type="text" name="nombre" placeholder="Ingrese su nombre" required>
                    <input type="text" name="correo" placeholder="Ingrese su correo" required>
                    <input type="text" name="telefono" placeholder="Ingrese su teléfono" required>
                    <textarea name="mensaje" placeholder="Escriba su mensaje" required></textarea>
                    <input type="submit" value="Enviar" id="boton">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <address><i class="bi bi-geo-alt-fill"></i> Trelew - Edison: 330 </address>
                    <p><i class="bi bi-envelope-fill"></i> Correo: info@sectw.com.ar o afiliados@sectw.com.ar</p>
                    <p><i class="bi bi-telephone-fill"></i> Teléfono: 4436143 - 4427519 - 4448046 </p>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d46492.76294051014!2d-65.38804444179686!3d-43.25566179999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xbe0144bf89b09b1f%3A0x539ba962f18b367!2sSindicato%20Empleados%20de%20Comercio%20de%20Trelew!5e0!3m2!1ses-419!2sar!4v1664902937611!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="mapa"></iframe>
                </div>
            </div>
        </form>
    </div>       
</div>
{% endblock %}