{% extends 'base.html' %}

{% block title %}
{% endblock %}
{% block main %}
<form>
    <div class="mb-3">
      <label for="InputDni" class="form-label">DNI</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"exampleInputEmail1 placeholder="Usuario">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Contraseña</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="Ingresar" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}