{% extends 'base.html' %}
{% load static %}
{% block itemNavbar %}
{% endblock %}
{% block container %}
<div>
    <div class="text-center">
        <div class="row">
            <!-- tarjeta 1 -->
            <div class="col-sm-12 col-md-4 col-lg-4 py-3">
                <div class="card shadow">
                    <img src="{% static 'img/gimnasio.png' %}" class="card-img-top" alt="gimnasio">
                    <div class="card-body">
                        <h4> Gimnasio </h4>
                        <p class="text-muted"> Como SEC, queremos que siempre te mantengas saludable, es por eso que disponemos de un gimnasio para que puedas ejercitarte solo, o con amigos. Contamos con coachs para entrenamiento funcional y muscular, que te guiarán en tus ejercicios.</p>
                    </div>
                </div>
            </div>
            <!-- tarjeta 2 -->
            <div class="col-sm-12 col-md-4 col-lg-4 py-3">
                <div class="card shadow">
                    <img src="{% static 'img/polideportivo.png' %}" class="card-img-top" alt="polideportivo">
                    <div class="card-body">
                        <h4> Cursos </h4>
                        <p class="text-muted">Como SEC les brindamos una amplia cantidad de talleres/cursos para que puedas aumentar tus conocimientos sobre algún área en particular. ¿Qué estás esperando?, inscribite.</p>
                    </div>
                </div>
            </div>
            <!-- tarjeta 3 -->
            <div class="col-sm-12 col-md-4 col-lg-4 py-3">
                <div class="card shadow">
                    <img src="{% static 'img/beneficios.png' %}" class="card-img-top" alt="beneficios">
                    <div class="card-body">
                        <h4> Beneficios </h4>
                        <p class="text-muted"> Como afiliado, dispondrás de varios beneficios, como lo son, descuentos en los cursos dictados por el SEC, salones para alquilar, a su vez, se te otorgará una tarjeta, la cuál te dará beneficios en el área de salúd. ¿Qué esperás para afiliarte?.</p>
                    </div>
                </div>
            </div>
        </div>
      </div>  
</div>
{% endblock %}