<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/estilos/estilos.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>SEC</title>
</head>

<body style="background-color:#0f66c3">
    <nav class="navbar navbar-expand-lg" style="background-color: #064080">
        <div class="container-fluid">
          <a class="navbar-brand" href="home.html">
            <img src="img/sec_noticia.png" alt="logo" width="150px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="login.html"> Iniciar Sesión </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="#"> Registrate </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container text-center">
        <div class="row mt-4">
            <!-- tarjeta 1 -->
            <div class="col-sm-12 col-md-4 col-lg-4 py-3">
                <div class="card shadow">
                    <img src="img/gimnasio.png" class="card-img-top" alt="gimnasio">
                    <div class="card-body">
                        <h4> Gimnasio </h4>
                        <p class="text-muted"> Como SEC, queremos que siempre te mantengas saludable, es por eso que disponemos de un gimnasio para que puedas ejercitarte solo, o con amigos. Contamos con coachs para entrenamiento funcional y muscular, que te guiarán en tus ejercicios.</p>
                        <a href="gimnasio.html" class="btn btn-sm btn-primary"> Más Info </a>
                    </div>
                </div>
            </div>
            <!-- tarjeta 2 -->
            <div class="col-sm-12 col-md-4 col-lg-4 py-3">
                <div class="card shadow">
                    <img src="img/polideportivo.png" class="card-img-top" alt="polideportivo">
                    <div class="card-body">
                        <h4> Cursos </h4>
                        <p class="text-muted">Como SEC les brindamos una amplia cantidad de talleres/cursos para que puedas aumentar tus conocimientos sobre algún área en particular. ¿Qué estás esperando?, inscribite.</p>
                        <a href="cursos.html" class="btn btn-sm btn-primary"> Más Info </a>
                    </div>
                </div>
            </div>
            <!-- tarjeta 3 -->
            <div class="col-sm-12 col-md-4 col-lg-4 py-3">
                <div class="card shadow">
                    <img src="img/beneficios.png" alt="card-img-top" alt="beneficios">
                    <div class="card-body">
                        <h4> Beneficios </h4>
                        <p class="text-muted"> Como afiliado, dispondrás de varios beneficios, como lo son, descuentos en los cursos dictados por el SEC, salones para alquilar, a su vez, se te otorgará una tarjeta, la cuál te dará beneficios en el área de salúd. ¿Qué esperás para afiliarte?.</p>
                        <a href="beneficios.html" class="btn btn-sm btn-primary"> Más Info </a>
                    </div>
                </div>
            </div>
        </div>
      </div>  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>