{% extends 'main.html' %}
{% load static %}

{% block container %}
<div>
    <div class="container-listados my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="table-responsive card shadow p-3">     
              <h3>Listado de Salones</h3>
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th> Nombre </th>
                              <th> Dirección </th>
                              <th> Capacidad </th>
                              <th> Monto </th>
                              <th> Encargado </th>
                              <th> Servicios </th>
                          </tr>
                      </thead>
                      <tbody>
                          <div>
                              <tr>
                                <td> Salon 1</td>
                                <td> Mitre 123</td>
                                <td> 150 </td>
                                <td> 150000$ </td>
                                <td> Pepe </td>
                                <td> <div> <input type="checkbox"> </div></td>
                                <td><a href="{% url 'verSalon' %}" class="btn btn-success"> Ver </a></td>
                              </tr>
                          </div>
                          <div>
                              <tr>
                                <td> Salon 1</td>
                                <td> Mitre 123</td>
                                <td> 150 </td>
                                <td> 150000$ </td>
                                <td> Pepe </td>
                                <td> <div> <input type="checkbox"> </div></td>
                                <td><a href="{% url 'verSalon' %}" class="btn btn-success"> Ver </a></td>
                              </tr>
                          </div>
                      </tbody>
                  </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}