{% extends 'base.html' %}
{% load static %}
{% block itemNavbar %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Afiliados
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Agregar afiliado</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAfiliados' %}">Listado de afiliados</a></li>
    <li><a class="dropdown-item" href="{% url 'pendientes' %}">Listado de Pendientes</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Alumnos
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarAlumno' %}">Agregar alumno</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAlumnos' %}">Listado de alumnos</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Cursos
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarCurso' %}">Agregar curso</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoCursos' %}">Listado de cursos</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Profesores
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarProfesor' %}">Agregar profesor</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoProfesores' %}">Listado de profesores</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Salones
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarSalon' %}">Agregar salón</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoSalones' %}">Listado de salones</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Alquileres
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Agregar alquiler</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAlquileres' %}">Listado de alquileres</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
{% endblock %}
{% block container %}
<div>
    <div class="container my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="card shadow p-3"> 
                <h3>Listado de Alquileres</h3>
                  <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <form class="d-flex" role="search">
                            <input class="form-control me-3" type="search" placeholder="Ingrese campo a buscar" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Buscar</button>
                          </form>
                        </div>
                  </div>
                  <br>
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th> Nro Alquiler </th>
                              <th> Afiliado </th>
                              <th> Salón </th>
                              <th> Fecha Reserva </th>
                              <th> Fecha Inicio </th>
                              <th> Servicios </th>
                          </tr>
                      </thead>
                      <tbody>
                          <div>
                              <tr>
                                  <td> 123 </td>
                                  <td> Joako </td>
                                  <td> Salon 1 </td>
                                  <td> 12/12/21 </td>
                                  <td> 13/02/22 </td>
                                  <td> <div> <input type="checkbox"> </div></td>
                                  <td><a href="#" class="btn btn-success"> Ver </a></td>
                              </tr>
                          </div>
                          <div>
                              <tr>
                                  <td> 123 </td>
                                  <td> Joako </td>
                                  <td> Salon 1 </td>
                                  <td> 12/12/21 </td>
                                  <td> 13/02/22 </td>
                                  <td> <div> <input type="checkbox"> </div></td>
                                  <td><a href="#" class="btn btn-success"> Ver </a></td>
                              </tr>
                          </div>
                      </tbody>
                  </table>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}