{% extends 'base.html' %}
{% load static %}
{% block itemNavbar %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Afiliados
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarAfiliado' %}">Agregar afiliado</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAfiliados' %}">Listado de afiliados</a></li>
    <li><a class="dropdown-item" href="{% url 'pendientes' %}">Listado de Pendientes</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Alumnos
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarAlumno' %}">Agregar alumno</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAlumnos' %}">Listado de alumnos</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Cursos
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarCurso' %}">Agregar curso</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoCursos' %}">Listado de cursos</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Profesores
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarProfesor' %}">Agregar profesor</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoProfesores' %}">Listado de profesores</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Salones
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarSalon' %}">Agregar salón</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoSalones' %}">Listado de salones</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Gestión Alquileres
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'agregarAlquiler' %}">Agregar alquiler</a></li>
    <li><a class="dropdown-item" href="{% url 'listadoAlquileres' %}">Listado de alquileres</a></li>
    <li class="dropdown-divider"></li>
  </ul>
</li>
{% endblock %}
{% block container %}
<div>
    <div class="container-listados my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="table-responsive card shadow p-3"> 
                    <h3>Listado de Alumnos</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> DNI </th>
                                <th> Nombre </th>
                                <th> Apellido </th>
                                <th> Cursos </th>
                            </tr>
                        </thead>
                        <tbody>
                            <div>
                                <tr>
                                    <td> 123 </td>
                                    <td> Joako </td>
                                    <td> Castro </td>
                                    <td> Programación </td>
                                    <td><a href="{% url 'verAlumno' %}" class="btn btn-success"> Ver </a></td>
                                </tr>
                            </div>
                            <div>
                                <tr>
                                    <td> 123 </td>
                                    <td> Joako </td>
                                    <td> Castro </td>
                                    <td> Programación </td>
                                    <td><a href="{% url 'verAlumno' %}" class="btn btn-success"> Ver </a></td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}