{% extends 'main.html' %}
{% load static %}

{% block container %}
<div>
    <div class="container-listados my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="table-responsive card shadow p-3"> 
                    <h3>Listado de Cursos</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Nombre </th>
                                <th> Fecha Desde </th>
                                <th> Fecha Hasta </th>
                                <th> Descuento </th>
                                <th> Profesor </th>
                                <th> Precio </th>
                            </tr>
                        </thead>
                        <tbody>
                            <div>
                                <tr>
                                    <td> Desarrollo de software</td>
                                    <td> 01/08/21 </td>
                                    <td> 21/11/12 </td>
                                    <td> 15% </td>
                                    <td> Diego </td>
                                    <td> 15000$ </td>
                                    <td><a href="{% url 'verCurso' %}" class="btn btn-success"> Ver </a></td>
                                </tr>
                            </div>
                            <div>
                                <tr>
                                    <td> Desarrollo de software</td>
                                    <td> 01/08/21 </td>
                                    <td> 21/11/12 </td>
                                    <td> 15% </td>
                                    <td> Diego </td>
                                    <td> 15000$ </td>
                                    <td><a href="{% url 'verCurso' %}" class="btn btn-success"> Ver </a></td>
                                </tr>
                            </div>
                            <div>
                                <tr>
                                    <td> Desarrollo de software</td>
                                    <td> 01/08/21 </td>
                                    <td> 21/11/12 </td>
                                    <td> 15% </td>
                                    <td> Diego </td>
                                    <td> 15000$ </td>
                                    <td><a href="{% url 'verCurso' %}" class="btn btn-success"> Ver </a></td>
                                </tr>
                            </div>
                        </tbody>
                    </table>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}