{% extends 'main.html' %}
{% load static %}

{% block container %}
<div>
    <div class="container-listados my-3">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="table-responsive card shadow p-3">
                <h3>Listado de Profesores</h3>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> DNI </th>
                            <th> Nombre </th>
                            <th> Apellido </th>
                            <th> Tel </th>
                            <th> E-mail </th>
                            <th> Fecha Nacimiento </th>
                            <th> Especialización </th>
                        </tr>
                    </thead>
                    <tbody>
                        <div>
                            <tr>
                                <td>123</td>
                                <td>Joaquín</td>
                                <td> Castro </td>
                                <td> 2804555555 </td>
                                <td> Joako@gmail.com</td>
                                <td> 08/05/99 </td>
                                <td> Matemática </td>
                                <td><a href="{% url 'verProfesor' %}" class="btn btn-success"> Ver </a></td>
                            </tr>
                        </div>
                        <div>
                            <tr>
                                <td>123</td>
                                <td>Joaquín</td>
                                <td> Castro </td>
                                <td> 2804555555 </td>
                                <td> Joako@gmail.com</td>
                                <td> 08/05/99 </td>
                                <td> Matemática </td>
                                <td><a href="{% url 'verProfesor' %}" class="btn btn-success"> Ver </a></td>
                            </tr>
                        </div>
                        <div>
                            <tr>
                                <td>123</td>
                                <td>Joaquín</td>
                                <td> Castro </td>
                                <td> 2804555555 </td>
                                <td> Joako@gmail.com</td>
                                <td> 08/05/99 </td>
                                <td> Matemática </td>
                                <td><a href="{% url 'verProfesor' %}" class="btn btn-success"> Ver </a></td>
                            </tr>
                        </div>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}