<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle text-white"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Gestión Afiliados
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'crearAfiliado' %}"
        ><i class="fa-solid fa-user-plus"></i> Agregar afiliado</a
      >
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'listarAfiliados' %}"
        ><i class="fa-solid fa-list"></i> Listado de afiliados</a
      >
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'afiliacionesPendientes' %}"
        ><i class="fa-regular fa-clock"></i> Listado de Pendientes</a
      >
    </li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle text-white"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Gestión Alumnos
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'crearAlumno' %}"
        ><i class="fa-solid fa-user-plus"></i> Agregar alumno</a>
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'listarAlumnos' %}"
        ><i class="fa-solid fa-list"></i> Listado de alumnos</a
      >
    </li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle text-white"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Gestión Cursos
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'crearCurso' %}"
        ><i class="fa-solid fa-plus"></i> Crear curso</a>
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'crearAula' %}"
        ><i class="fa-solid fa-plus"></i> Crear aula</a>
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'crearEspecialidad' %}"
        ><i class="fa-solid fa-plus"></i> Crear especialidad</a
      >
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'listarCursos' %}"
        ><i class="fa-solid fa-list"></i> Listado de cursos</a
      >
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'listarAulas' %}"
        ><i class="fa-solid fa-list"></i> Listado de aulas</a
      >
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'listarEspecialidades' %}"
        ><i class="fa-solid fa-list"></i> Listado de especialidades</a
      >
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'listarPagosDictados' %}"
        ><i class="fa-solid fa-list"></i> Listado de pagos dictados</a
      >
    </li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle text-white"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Gestión Profesores
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'crearProfesor' %}"
        ><i class="fa-solid fa-user-plus"></i> Agregar profesor</a
      >
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'listarProfesores' %}"
        ><i class="fa-solid fa-list"></i> Listado de profesores</a
      >
    </li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle text-white"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Gestión Salones
  </a>
  <ul class="dropdown-menu">

    <li>
      <a class="dropdown-item" href="{% url 'crearEncargado' %}">
        <i class="fa-solid fa-plus"></i> Agregar encargado</a>
    </li>
    <li class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="{% url 'crearSalon' %}"
        ><i class="fa-solid fa-plus"></i> Agregar salón</a>
    </li>
   
    <li class="dropdown-divider"></li>

    <li>
      <a class="dropdown-item" href="{% url 'listarSalones' %}"
        ><i class="fa-solid fa-list"></i> Listado de salones</a
      >
    </li>
    <li class="dropdown-divider"></li>
    
    <!-- <li>
      <a class="dropdown-item" href="{% url 'listarServicios' %}"
        ><i class="fa-solid fa-list"></i> Listado de servicios</a
      >
    </li>
    <li class="dropdown-divider"></li>
    !-->
    <li>
      <a class="dropdown-item" href="{% url 'listarEncargados' %}"
        ><i class="fa-solid fa-list"></i> Listado de encargados</a
      >
    </li>
  </ul>
</li>
<li class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle text-white"
    href="#"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Gestión Alquileres
  </a>
  <ul class="dropdown-menu">
    <li>
      <a class="dropdown-item" href="{% url 'listarAlquileres' %}"
        ><i class="fa-solid fa-list"></i> Listado de alquileres</a>
    </li>
  </ul>
  <li class="nav-item"> <a class="nav-link text-white" href = "{% url 'logout' %}" role="button"
     ><i class="fa-solid fa-right-to-bracket"></i></a>
  </li>
</li>
