<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Afiliados
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'crearAfiliado' %}">Agregar afiliado</a></li>
      <li><a class="dropdown-item" href="{% url 'listarAfiliados' %}">Listado de afiliados</a></li>
      <li><a class="dropdown-item" href="{% url 'pendientes' %}">Listado de Pendientes</a></li>
      <li class="dropdown-divider"></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Alumnos
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'crearAlumno' %}">Agregar alumno</a></li>
      <li><a class="dropdown-item" href="{% url 'listadoAlumnos' %}">Listado de alumnos</a></li>
      <li class="dropdown-divider"></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Cursos
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'crearCurso' %}">Agregar curso</a></li>
      <li><a class="dropdown-item" href="{% url 'listarCursos' %}">Listado de cursos</a></li>
      <li><a class="dropdown-item" href="{% url 'crearAula' %}">Agregar aula</a></li>
      <li><a class="dropdown-item" href="{% url 'listarAulas' %}">Listado de aulas</a></li>
      <li><a class="dropdown-item" href="">Agregar dictado</a></li>     
      <li><a class="dropdown-item" href="#">Listado de dictados</a></li>
      <li><a class="dropdown-item" href="{% url 'crearEspecialidad' %}">Agregar especialidad</a></li>     
      <li><a class="dropdown-item" href="{% url 'listarEspecialidades' %}">Listado de especialidades</a></li>
      <li class="dropdown-divider"></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Profesores
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'crearProfesor' %}">Agregar profesor</a></li>
      <li><a class="dropdown-item" href="{% url 'listarProfesores' %}">Listado de profesores</a></li>
      <li class="dropdown-divider"></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Salones
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'crearSalon' %}">Agregar salón</a></li>
      <li><a class="dropdown-item" href="{% url 'listadoSalones' %}">Listado de salones</a></li>
      <li class="dropdown-divider"></li>
    </ul>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Gestión Alquileres
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="{% url 'crearAlquiler' %}">Agregar alquiler</a></li>
      <li><a class="dropdown-item" href="{% url 'listadoAlquileres' %}">Listado de alquileres</a></li>
      <li class="dropdown-divider"></li>
    </ul>
  </li>