{% extends 'main.html' %}
{% load static %}

{% block container %}
<div style="background-color:#0f66c3">
  <div class="container">
    <header> Datos Alquiler </header>
    <form action="#">
        <div class="form first">
            <div class="datos curso">
                <div class="fields">
                    <div class="input-field">
                      <label> Número de alquiler </label>
                      <input type="numer" disabled>
                    </div>

                    <div class="input-field">
                        <label> Fecha de reserva </label>
                        <input type="date" disabled>
                    </div>

                    <div class="input-field" style="display: flex; flex-direction: colum ">
                      <label> Fecha inicio </label>
                      <input type="date" disabled>
                    </div>

                    <div class="input-field">
                      <label> Monto </label>
                      <input type="number" disabled>
                    </div>

                    <div class="input-field">
                        <label> Afiliado </label>
                        <select> 
                            <option value="disable selected"></option>
                            <option value="#">  </option>
                          </select>
                    </div>

                    <div class="input-field">
                        <label> Salón </label>
                        <select> 
                            <option value="disable selected"></option>
                            <option value="#">  </option>
                          </select>
                    </div>

                    <div class="input-field">
                        <label> Seña </label>
                        <input type="number" disabled>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" type="button"> Editar </button>
                <button class="btn btn-primary" type="button" style="background-color: red"> Dar de Baja</button>
            </div>
        </div>
    </form>
  </div>       
</div>
{% endblock %}