{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block container %}
<div style="background-color: #0f66c3">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
          <img src="{% static 'img/curso.png' %}" class="img-thumbnail" alt="persona">
        </div>
        <div class="col sm-12 col-md-4 col-lg-4 py-3">
          <label><b> DATOS CURSO </b></label>
          <div class="input-group">
            {{curso.nombre}}
          </div>
          <div class="input-group">
            {{curso.desde}}
          </div>
          <div class="input-group">
            {{curso.hasta}}
          </div>
          <div class="input-group">
            {{curso.cupo}}
          </div>
          <div class="input-group">
            {{curso.profesor}}
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
          <br>
          <div class="input-group">
            {{curso.cantModulos}}
          </div>
          <div class="input-group">
            {{curso.descuento}}
          </div>
          <div class="input-group">
            ${{curso.precio}}
          </div>
          <div class="input-group">
            {{curso.formaPago}}
          </div>
          <div class="input-group">
            {{curso.especialidad}}
          </div>
        </div>
      </div>
        <td><a href="{% url 'modificarCurso' curso.pk %}"class="btn btn-primary">Editar</a></td>
        <td><a href="{% url 'eliminarCurso' curso.pk %}"class="btn btn-primary">Eliminar</a></td>  
      <div class="container-listados my-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="table-responsive card shadow p-3"> 
                <div class="row">
                  <div class="col sm-12 col-md-4 col-lg-4 py-3">
                    <h3> Listado Alumnos </h3>
                  </div>
                  <div class="col sm-12 col-md-8 col-lg-8 py-3">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a href="{% url 'crearAlumno' %}" class="btn btn-success"> + </a>
                    </div>
                  </div>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> DNI </th>
                            <th> Nombre </th>
                            <th> Apellido </th>
                            <th> Cursos </th>
                        </tr>
                    </thead>
                    <tbody>
                        <div>
                            {% for alumno in curso.alumnos.all %}
                            <tr>
                                <td> {{alumno.persona.dni}} </td>
                                <td> {{alumno.persona.nombre}} </td>
                                <td> {{alumno.persona.apellido}} </td>
                                <td> **¿esto va?** </td>
                                <td><a href="{% url 'detallarAlumno' alumno.pk%}" class="btn btn-success"> Ver </a></td>
                            </tr>
                            {% endfor %}
                        </div>
                    </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}