{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block container %}
<div class="py-4" style="background-color: #0f66c3">
    <div class="container py-3" style="background-color: white">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
          <img src="{% static 'img/persona.png' %}" class="img-thumbnail" alt="persona">
        </div>
        <div class="col sm-12 col-md-4 col-lg-4 py-3">
          <label><b>DATOS PERSONALES</b></label>
          <div class="input-group py-2">
            <label><b> Nombre: </b></label> {{profesor.persona.nombre}}
          </div>
          <div class="input-group py-2">
            <label><b> Apellido: </b></label> {{profesor.persona.apellido}}
          </div>
          <div class="input-group py-2">
            <label><b> DNI: </b></label> {{profesor.persona.dni}}
          </div>
          <div class="input-group py-2">
            <label><b> Domicilio: </b></label> {{profesor.domicilio}}
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
          <div class="col sm-12 col-md-12 col-lg-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <td><a href="{% url 'modificarProfesor' object.pk %}"class="btn btn-success">Editar</a></td>
              <td><a href="{% url 'eliminarProfesor' object.pk %}"class="btn btn-danger">Eliminar</a></td>
            </div>
          </div>
          <div class="input-group py-2">
            <label><b> Telefono: </b></label> {{profesor.telefono}}
          </div>
          <div class="input-group py-2">
            <label><b> Especializacion: </b></label> {{profesor.especializacion}}
          </div>
          <div class="input-group py-2">
            <label><b> Años Experiencia: </b></label> {{profesor.aniosExperiencia}}
          </div>
          <div class="input-group py-2">
            <label><b> CBU: </b></label> {{profesor.cbu}}
          </div>
        </div>
      </div>
      <div class="container-listados my-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="table-responsive card shadow p-3">
            <div class="row">
              <div class="col sm-12 col-md-4 col-lg-4 py-3">
                <h3> Cursos vigentes </h3>
              </div>
              <div class="col sm-12 col-md-8 col-lg-8 py-3">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <a href="#" class="btn btn-success"> + </a>
                </div>
              </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th> Nombre </th>
                      <th> Fecha Desde </th>
                      <th> Fecha Hasta </th>
                      <th> Descuento </th>
                      <th> Profesor </th>
                      <th> Precio </th>
                      <th> Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    <div>
                        <tr>
                          <td> Desarrollo de software</td>
                          <td> 01/08/21 </td>
                          <td> 21/11/12 </td>
                          <td> 15% </td>
                          <td> Diego </td>
                          <td> 15000$ </td>
                          <td><a href="{% url 'verCurso' %}" class="btn btn-success"> Ver </a></td>
                        </tr>
                    </div>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}