{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block container %}
<div class="py-4">
    <div class="container py-3" style="background-color: white">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
          <img src="{% static 'img/persona.png' %}" class="img-thumbnail" alt="persona">
        </div>
        <div class="col sm-12 col-md-4 col-lg-4 py-3">
          <label><b>DATOS PERSONALES</b></label>
          <div class="input-group py-2">
            <label><b> Nombre: </b></label> &nbsp; {{profesor.persona.nombre}}
          </div>
          <div class="input-group py-2">
            <label><b> Apellido: </b></label> &nbsp; {{profesor.persona.apellido}}
          </div>
          <div class="input-group py-2">
            <label><b> DNI: </b></label> &nbsp; {{profesor.persona.dni}}
          </div>
          <div class="input-group py-2">
            <label><b> Domicilio: </b></label> &nbsp; {{profesor.persona.domicilio}}
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 py-3">
          <div class="col sm-12 col-md-12 col-lg-12">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <td><a href="{% url 'modificarProfesor' object.pk %}"class="btn btn-success">Editar</a></td>
              <td><a href="{% url 'eliminarProfesor' object.pk %}"class="btn btn-danger">Eliminar</a></td>
            </div>
          </div>
          <div class="input-group py-2">
            <label><b> Telefono: </b></label> &nbsp; {{profesor.persona.telefono}}
          </div>
          <div class="input-group py-2">
            <label><b> CBU: </b></label> &nbsp; {{profesor.cbu}}
          </div>
          <div class="input-group py-2">
            <label><b> Experiencia: </b></label> &nbsp; {{profesor.experiencia}}
          </div>
        </div>
      </div>
      <div class="container-listados my-3">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="table-responsive card shadow p-3">
            <div class="row">
              <div class="col sm-12 col-md-4 col-lg-4 py-3">
                <h3> Cursos vigentes </h3>
              </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th> Actividad </th>
                      <th> Fecha Desde </th>
                      <th> Fecha Hasta </th>
                      <th> Remuneracion </th>
                      <th> Acciones </th>
                    </tr>
                </thead>
                <tbody>
                    <div>
                        <tr>
                          {% for dictado in profesor.actividadesVigentes %}
                          <td> {{dictado.actividad}}</td>
                          <td> {{dictado.fin}}</td>
                          <td> {{dictado.inicio}}</td>
                          <td> ${{dictado.actividad.remuneracionProfesor}} </td>
                          <td><a href="{% url 'detallarActividad' dictado.actividad.pk %}" class="btn btn-success"> Ver </a></td>
                          {% endfor %}  
                        </tr>
                    </div>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}