{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block container %}
<div>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xl-12 col-xl-12">  
    <div class="container-listados my-3"> 
              <div class="table-responsive card shadow p-3"> 
                <h3>Listado de Actividades</h3>
                  <table class="table table-striped table-responsive">
                      <thead>
                          <tr>
                            <th scope="col">nombre</th>
                            <th scope="col">fecha desde</th>
                            <th scope="col">categoria</th> 
                            <th scope="col">tipo de abono</th> 
                            <th scope="col">descuento</th> 
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                          {% for actividad in object_list %}
                          <tr class="bg-transition">
                            <td>{{ actividad.nombre }}</td>
                            <td>{{ actividad.desde }}</td>
                            <td>{{ actividad.get_categoria_display }}</td>
                            <td>{{ actividad.get_tipoAbono_display }}</td>
                            <td>{{ actividad.descuento }}%</td>
                            <td><a href="{% url 'detallarActividad' actividad.pk %}" class="btn btn-success"> Ver </a></td>             
                                                                       
                          </tr>
                          {% endfor %}  
                      </tbody>
                  </table>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}